# Add any directories, files, or patterns you don't want to be tracked by version control

Runner/.vs
Runner/Temp
Runner/.idea
Runner/Assembly-CSharp.csproj
Runner/Assembly-CSharp-Editor.csproj
Runner/Assets/Plugins/Editor/JetBrains
Runner/Library
Runner/Logs
Runner/obj
Runner/ProjectSettings
Runner/UserSettings

*.csproj

# Ignore media & other temp files
*.log
*.log.meta
*.meta